{% extends 'base.html' %}

{% block content %}

<div class="add_member_logo">
    <a href="addfitlink"> <img src="/static/images/add_member.png" alt="Add Member Logo/Button"></a>
</div>
   <P>
    Rewind back to our schooling before coming to Penn State. Every single year except senior year, for most at least, we had to be in gym class, getting all sweaty and ruining our hair for the rest of the day. Some of us hated gym, and others loved it. Personally, I always enjoyed gym. It was the only time of day where we did not have our faces in a book, and we got to be free range. Many of us do not see the importance of gym class. It is such a vital class to our growth as people and individuals.

    The first and foremost reason that gym class is so important is because of the physical activity. Gym provided us with exercise daily. While it may not of seemed like it, we became healthier, even if it was just the slightest bit. Along so, for the people who do no physical activity outside of school, they were now given the time to exercise. On top of this, so many of us take away something from gym classes. Whether it was a game that was played, a stretch, or anything, gym teaches skills that can be used throughout one’s entire life. It is not just physical benefits though, gym also gives us mental benefits which helps us think and function better in our everyday lives.
    
    Second up, gym class helps people with their coordination and flexibility. Often times, theses two aspects are overlooked and their importance is not understood. As one gets older, coordination and flexibility take a huge decline. So establishing them in gym class, and keeping up with them throughout life can lead to a longer lifespan and a healthier one too. To further support, according to the National Association for Sport and Physical Education, the development of skills and that you learn in gym class can increase your self-esteem.
   </P>
        


    </table>
{% endblock content %}