<form action="/updatelink/{{data[0]}}" method="post">
    Frist name <input type="text" name="name" value="{{data[1]}}"> <br> <br>
    Last name <input type="text" name="password" value="{{data[2]}}"> <br> <br>
    dob  <input type="text" name="city" value="{{data[3]}}"> <br><br>
    Last name <input type="text" name="password" value="{{data[1]}}"> <br> <br>
    Last name <input type="text" name="password" value="{{data[2]}}"> <br> <br>
    Last name <input type="text" name="password" value="{{data[2]}}"> <br> <br>
    <button type="submit"> update</button>
    
    </form>