<html>
    <body>
        <a href="/aboutlink">About Us</a>

        <a href="/reglink">Register</a>
        
        <a href="/loginlink">Login </a>
        
        <a href="/logoutlink">Logout </a>
        
        <a href="/informationlink">Information </a>

        <a href="/displaylink">Display</a>

        
    </body>
    <head>
        <center>
        <h1>Welcome To GYM</h1>
        </center>
    </head>

    <form action="/savelink11" method="POST">
        
        Enter Age:
        <input type="number" name="Age" required><br><br><br><br>
        Enter choosefor:
        <input type="number" name="choosefor" required><br><br><br><br>
        Enter coverage:
        <input type="number" name="coverage" required><br><br><br><br>
    
   
    
    
   


        
        <button type="submit">Get plan</button>
        

    </div>
    
    </form>
    <style>
body{

    background-image: url(../static/Health-Insurance-Quotes.webp);
    background-size: cover;
    background-attachment: fixed;
    background-size: 100% 100%;
}
    </style>




</html>