{% extends 'base.html' %}

{% block content %}

<div class="add_member_logo">
    <a href="addlink"> <img src="/static/images/add_member.png" alt="Add Member Logo/Button"></a>
</div>
    <p>
       
       <h3>Support</h3> 
Every member gets a free, personalized Get Started Plan when they join.<br> Our friendly, professional staff is trained to help you along your fitness journey, no matter how much support you need.
    </p>
<br><br>
    <p<br><br>
    <br>
        <h3>Tools & Training</h3> 
        
        Getting to a healthier place is about more than going to the gym.<br> That’s why we offer personal training and classes when you’re here, and the right tools to keep you on track when you’re not.    </p>

        {% endblock content %}